body {
    margin: 0;
    background-color: #fff;
    color: black;
}

.hero-img {
    width: 100%;
    height: 100vh;
    background: url(bgèª¿.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DeeperCamp {
    color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
    letter-spacing: 1px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

.DeeperCamp > span {
    animation: DeeperCamp 3s steps(1) infinite;
}

@keyframes DeeperCamp {
    5%, 9%, 13%, 25% {
        color: rgba(255, 255, 255, 0.5);
        text-shadow: none;
    }
    7%, 11%, 15%, 19%, 30%, 100% {
        color: var(--color);
        text-shadow:
        0px 0px 5px var(--color)
        0px 0px 20px var(--color)
        0px 0px 50px var(--color)
        0px 0px 70px var(--color)
    }
}

.btn {
    padding: 5px 5px 5px 5px;
    border-radius: 1rem;
    background: rgb(255, 231, 108);
    position: relative;
    transition: 0.5s;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Playfair', serif;
    color: rgb(79, 79, 79);
}

.btn:hover {
    background: #fef7e5;
}

.btn::after {
    content: '';
    position: absolute;
    inset: 10;
    border-radius: 1rem;
    transition: 1s;
    box-shadow: 0 0 30px 15px #fef7e5;
    opacity: 0;
}

.btn:active::after {
    transition: 0s;
    box-shadow: 0 0 0px 0px#fef7e5;
    opacity: 1;
}

.content {
    background-color: rgb(255, 251, 233);
}

@media screen and (max-width: 480px) {
    .btn {
        font-size: 15px;
    }

    #bg-img {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    .btn {
        font-size: 18px;
    }

    #bg-img {
        display: block;
    }
}